{
  "extends": ["plugin:playwright/playwright-test", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "root": true,
  "rules": {
    "no-unused-vars": [
      "warn",
      {
        "caughtErrorsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "space-before-function-paren": "off",
    "prettier/prettier": "error"
  }
}
